<!DOCTYPE html>
<html>
    
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="OCamLAB CTF">
	<meta name="author" content="ptr-yudai">
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/simple-sidebar.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<title>Challenges - OCamLab CTF</title>
    </head>

    <body>
	<div id="wrapper" class="toggled">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
		<ul class="sidebar-nav">
                    <li class="sidebar-brand">
			<a href="/">OCamLAB CTF 8th</a>
                    </li>
                    <li>
			<a href="/token">Team Token</a>
                    </li>
                    <li>
			<a href="/score">Scoreboard</a>
                    </li>
                    <li>
			<a href="/challenges">Challenges</a>
                    </li>
                    <li>
			<a href="/logout">Logout</a>
                    </li>
		</ul>
            </div>
	    
            <!-- Page Content -->
            <div id="page-content-wrapper">
		<div class="container-fluid">
                    <h1>Challenges</h1>
		    {% if running %}
		    <p>The following challenges are available now.</p>
		    {% else %}
		    <p>The CTF is not running..</p>
		    {% endif %}

		    {% if running %}
		    <div class="row">
			{% for chall in challs %}
			<div class="col-md-3 mb-3">
			    <a style="text-decoration:none;" href="/challenge?id={{chall.0}}">
				<div class="card text-white bg-{% if chall.5 %}success{% else %}secondary{% endif %}" style="padding:12px;">
				    <h5 class="card-title"><strong>{{chall.1}}</strong></h5>
				    <div class="card-text">
					Category: {{chall.3}}<br>
					Score: {{chall.2}}pt<br>
					Solved: {{chall.4}}
				    </div>
				</div>
			    </a>
			</div>
			{% endfor%}
		    </div>
		    {% endif %}
		</div>
            </div>
            <!-- /#page-content-wrapper -->
	    <div id="btn-toggle">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
		    <i class="fas fa-bars"></i>
		</a>
	    </div>
	</div>
	<!-- Menu Toggle Script -->
	<script>
	 $("#menu-toggle").click(function(e) {
             e.preventDefault();
             $("#wrapper").toggleClass("toggled");
	 });
	</script>
    </body>
</html>
