<!DOCTYPE html>
<html>
    
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="OCamLAB CTF">
	<meta name="author" content="ptr-yudai">
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/simple-sidebar.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<title>Login - OCamLab CTF</title>
    </head>

    <body>
	<div id="wrapper" class="toggled">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
		<ul class="sidebar-nav">
                    <li class="sidebar-brand">
			<a href="/">OCamLAB CTF 8th</a>
                    </li>
                    <li>
			<a href="/token">Team Token</a>
                    </li>
                    <li>
			<a href="/score">Scoreboard</a>
                    </li>
                    <li>
			<a href="/challenges">Challenges</a>
                    </li>
                    <li>
			<a href="/login">Login</a>
                    </li>
                    <li>
			<a href="/register">Register</a>
                    </li>
		</ul>
            </div>
	    
            <!-- Page Content -->
            <div id="page-content-wrapper">
		<div class="container-fluid">
                    <h1>Login</h1>
		    <p>Please login with your e-mail and password.</p>
		    <div class="login-popup-wrap new_login_popup"> 
                        <div class="login-popup-heading text-center">
                            <h4><i class="fa fa-lock" aria-hidden="true"></i> Login </h4>
			    {% if message %}
			    <div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4 alert alert-danger" role="alert">
				    {{message}}
				    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				    </button>
				</div>
			    </div>
			    {% endif %}
                        </div>
			
			<form class="form-horizontal" role="form" method="POST" action="/login">
			    <div class="row">
				<div class="col-md-3 field-label-responsive">
				    <label for="username">Username</label>
				</div>
				<div class="col-md-6">
				    <div class="form-group">
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					    <div class="input-group-addon" style="width: 2.6rem">
						<i class="fa fa-user"></i>
					    </div>
					    <input type="text" name="username" class="form-control"
						   id="username" placeholder="Username" required autofocus>
					</div>
				    </div>
				</div>
			    </div>
			    <div class="row">
				<div class="col-md-3 field-label-responsive">
				    <label for="password">Password</label>
				</div>
				<div class="col-md-6">
				    <div class="form-group has-danger">
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					    <div class="input-group-addon" style="width: 2.6rem">
						<i class="fa fa-key"></i>
					    </div>
					    <input type="password" name="password" class="form-control"
						   id="password" placeholder="Password" required>
					</div>
				    </div>
				</div>
			    </div>
			    <div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-6">
				    <button type="submit" class="btn btn-success">
					<i class="fas fa-sign-in-alt"></i> Login
				    </button>
				</div>
			    </div>
			</form>
			<br>
                        <div class="text-center">
			    Not registered yet? <a href="/register">Click here</a>
			</div>
                    </div>
		</div>
            </div>
            <!-- /#page-content-wrapper -->
	    <div id="btn-toggle">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
		    <i class="fas fa-bars"></i>
		</a>
	    </div>
	</div>
	<!-- Menu Toggle Script -->
	<script>
	 $("#menu-toggle").click(function(e) {
             e.preventDefault();
             $("#wrapper").toggleClass("toggled");
	 });
	</script>
    </body>
</html>
