<!DOCTYPE html>
<html>
    
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="OCamLAB CTF">
	<meta name="author" content="ptr-yudai">
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/simple-sidebar.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<title>Scoreboard - OCamLab CTF</title>
    </head>

    <body>
	<div id="wrapper" class="toggled">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
		<ul class="sidebar-nav">
                    <li class="sidebar-brand">
			<a href="/">OCamLAB CTF 8th</a>
                    </li>
                    <li>
			<a href="/token">Team Token</a>
                    </li>
                    <li>
			<a href="/score">Scoreboard</a>
                    </li>
                    <li>
			<a href="/challenges">Challenges</a>
                    </li>
                    <li>
			<a href="/logout">Logout</a>
                    </li>
		</ul>
            </div>
	    
            <!-- Page Content -->
            <div id="page-content-wrapper">
		<div class="container-fluid">
                    <h1>Scoreboard</h1>
		    <table class="table table-striped">
			<thead class="thead-dark">
			    <tr>
				<th scope="col">#</th>
				<th scope="col">Team</th>
				<th scope="col">Score</th>
			    </tr>
			</thead>
			<tbody>
			    {% for team in ranking %}
			    <tr>
				<th score="row">{{loop.index}}</th>
				<td>{{team.0}}</td>
				<td>{{team.1}}</td>
			    </tr>
			    {% endfor %}
			</tbody>
		    </table>
		    <br>
		    {% for event in log %}
		    <div>
			{{event.3}}: <strong>{{event.0}}</strong> got <strong>{{event.2}}</strong>pt [{{event.1}}]
		    </div>
		    {% endfor %}
		</div>
            </div>
            <!-- /#page-content-wrapper -->
	    <div id="btn-toggle">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">
		    <i class="fas fa-bars"></i>
		</a>
	    </div>
	</div>
	<!-- Menu Toggle Script -->
	<script>
	 $("#menu-toggle").click(function(e) {
             e.preventDefault();
             $("#wrapper").toggleClass("toggled");
	 });
	</script>
    </body>
</html>
